
.container{
  width:100%;
  margin:auto;
}
.tab {
  margin-left:5px;
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;  
  padding: 0 0 0 1.5em;
  background: #d9e9f4;
  font-weight: 500;
  font-size:15px;
  line-height: 3;
  cursor: pointer;
  color:#439ad2;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 10em;
}
/* Icon */
label::before {
  position: absolute;
  left: -.5em;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::before {
  content: "▸";
}
input[type=radio] + label::before {
  content: "\25BC";
}
input[type=checkbox]:checked + label::before {
  transform: rotate(90deg);
}
input[type=radio]:checked + label::before {
  transform: rotateX(90deg);
}
